Checks: >
  -*,
  clang-analyzer-*,
  bugprone-dangling-handle,
  bugprone-infinite-loop,
  bugprone-sizeof-expression,
  bugprone-use-after-move,
  concurrency-*,
  performance-*,
  portability-*
WarningsAsErrors: '*, -clang-analyzer-optin.core.EnumCastOutOfRange, -performance-unnecessary-value-param'
HeaderFilterRegex: '^(?!.*(?:third_party|out[\\/])).*(?:engine|editor[\\/]native|samples|tools)[\\/]'
FormatStyle: file
CheckOptions:
  performance-move-const-arg.CheckTriviallyCopyableMove: 'true'
